
canvas 
{
	border: 1px solid;		
}

body
{
	margin: 0px;
}

.speed-meter-container{
	display: none;
	position: absolute;
	width: 20px;
	height: 92%;
	top:4%;
	bottom: 4%;
	border-color: black;
	justify-content: center;
	align-items: center;
}

.speed-meter
{
	background-color: purple;
	height: 50%;
	position: relative;
	

}

.speed-meter-text
{
	display: inline-block;
	top : -30px;
	left: -5px;
	border: 1px solid;
	color : white;
	font-size: large;
	border-radius: 20px;
	position: absolute;
	padding: 3px 3px 3px 3px;
	background-color: black;
}


.startMenu{
	width: 60%;
	height:40%;
	max-width: 450px;
	max-height: 800px;
	background-color: #FFEF00;
	text-align: center;
	border-radius: 10px;
	margin: min(150px , 30%) auto;
	padding: 1px 5px 5px 5px;
	
}

.gameplayScreen{
	display: none;
}



.car-image-container {
	display: block;
	height: 70%;
	width: 40%;
	max-width: 200px;
	max-height: 200px;
	margin: 10% auto;
}

.player-car-image
{
	width: 70%;
	height: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.action-button{
	width: 30%;
	height: 30%;
	max-width: 400px;
	max-height: 300px;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#overlayUiContainer
{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 5%;
	left: 0;
	right: 0;

}

#scoreElement
{
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	background-color: rgba(220, 220, 220,0.5);
	border-radius: 25px;
	width: 50%;
	height: 100%;
	font-size: 5vh;

}

#speedElement
{
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	background-color: rgba(220, 220, 220,0.5);
	border-radius: 25px;
	width: 50%;
	height: 100%;
	font-size: 5vh;		
}

#gameOverScreen
{
	position: absolute;
	top:50%;
	right: 	50%;
	transform: 	translate(50%,-50%);
	display: none;
	background-color: rgb(220,220,220);
	border-radius: 10px;
	text-align: center	;
	vertical-align: middle;
}

@media (min-width : 1400px)
{
	#gameOverScreen{
		
		width: 450px;
		font-size: 32px;
		
	}
}
@media (max-width : 1400px)
{
	#gameOverScreen{
		
		width: 400px;
		font-size: 30px;	
	}
}

@media (max-width : 1000px)
{
	#gameOverScreen{
		width: 400px;
		font-size: 28px;	
	}
}

@media (max-width : 700px)
{
	#gameOverScreen{
		width: 350px;
		font-size: 25px;	
	}
}

@media (max-width : 400px)
{
	#gameOverScreen{
		width: 300px;
		font-size: 22px;	

	}
}

#restartButton
{
	border-radius: 20px;
	width: 50%;
	height: 50px;
	font-size: 25px;
}

