
canvas 
{
	border: 1px solid;		
}

body
{
	margin: 0px;
}

#overlayUiContainer
{
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
}

#scoreElement
{
	display: inline-block;
	vertical-align: middle;
	text-align: middle;
	color: blue;
	background-color: rgba(137, 196, 244, 1.0);
	border-radius: 25px;
}

#speedElement
{
	display: inline-block;
	vertical-align: middle;
	text-align: middle;
	background-color: rgba(137, 196, 244, 1.0);
	border-radius: 25px;
	color: blue;		
}

#gameOverScreen
{
	display: none;
	position: absolute;
	background-color: rgba(137, 196, 244, 1.0);
	border-radius: 10px;
	top:50%;
	right: 	50%;
	transform: 	translate(50%,-50%);
	text-align: center	;
	text-align: center;
	vertical-align: middle;
	font-size: 1vw;
}